<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1972697167-drai4iej8198a9vi7104rnesc7jvahmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1972697167-drai4iej8198a9vi7104rnesc7jvahmp</string>
	<key>API_KEY</key>
	<string>AIzaSyAPVDA8wYQaJiulyaRu_40ysuFLxOg09KA</string>
	<key>GCM_SENDER_ID</key>
	<string>1972697167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>primera.Firebase-Connect</string>
	<key>PROJECT_ID</key>
	<string>desarrollointerfaces-11f6c</string>
	<key>STORAGE_BUCKET</key>
	<string>desarrollointerfaces-11f6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1972697167:ios:8365c6a2b165b0c339123a</string>
	<key>DATABASE_URL</key>
	<string>https://desarrollointerfaces-11f6c.firebaseio.com</string>
</dict>
</plist>